<li class="{{listItemClass}}">
    <a href="{{linkURL}}" {{#class}} class="{{class}}" {{/class}} title="{{linkDescription}}">
        {{#flagURL}}
            <img src="{{flagURL}}" alt="{{linkDescription}}" />
        {{/flagURL}}
        {{linkText}}
    </a>
</li>
